.taulukot {
    display: flex;
    flex-wrap: wrap;
}

.taulukko1 {
    background-color: orange;
    padding: 10px;
    margin: 20px
}

.taulukko2 {
    background-color: lightblue;
    padding: 10px;
    margin: 20px
}

.taulukko3 {
    background-color: deepskyblue;
    padding: 10px;
    margin: 20px
}

.taulukko4 {
    background-color: royalblue;
    padding: 10px;
    margin: 20px
}

.taulukko5 {
    background-color: greenyellow;
    padding: 10px;
    margin: 20px
}
